<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/stylessnuevousuario.css">
    <title>Sistema de gestión de Ingresos y Gastos</title>
</head>
<body>
   
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
        <h1 class="titulo">Sistema de Gestión de Ingresos y Gastos</h1>
        <h1 class="subtitulo">Usuarios</h1>
        <header class="contheader">
           
            <div class="logo"></div>
            <input class="ingresosyegresos" type="submit" value="Ingresos y Egresos">
            <input class="usuarios" type="submit" value="Usuarios">
            <input class="empresas" type="submit" value="Empresas">
            
        
    </header>
    
            <main class="main">
                
                <fieldset class="fi">
                    <legend>Nuevo Usuario</legend>
                    <form action=""method="" class="frm">
                        <label for="mon">Nombre
                            <input type="text" id="mom" placeholder="Nombre">
                        </label>
                
                        <label for="con">Correo
                            <input type="email" id="cor" placeholder="Correo">
                        </label>

                        <label for="rol">Rol
                            <input type="text" id="rol" placeholder="Rol">
                        </label>
    
                        <input class="boton" type="submit" value="Ingresar">
                    </form>
                </fieldset>
                
            </main>
        
         
</body>
</html>