<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/stylessnuevomovimientodinero.css}">
    <title>Sistema de gestión de Ingresos y Gastos</title>
</head>
<body>
<a th:href="@{/}">HOME</a>
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div> 
    
        <h1 class="titulo">Sistema de Gestión de Ingresos y Gastos</h1>
        <h1 class="subtitulo">Ingresos y Egresos</h1>
        <header class="contheader">
           
            <div class="logo"></div>
            <input class="ingresosyegresos" type="submit" value="Ingresos y Egresos">
            <input class="usuarios" type="submit" value="Usuarios">
            <input class="empresas" type="submit" value="Empresas">
            
        </header>
    
        <main class="main">
                
            <fieldset class="fi">
                <legend>Nuevo Movimiento de Dinero</legend>
                <form th:action="@{/movimientos/guardar}" th:object="${movimientoinsertar}" method="POST"  class="frm">
                    <label for="id">Id empleado
                        <input type="text" th:field="*{empleadoM}"  id="id" placeholder="Id empleadoM">
                    </label>
                    <label for="id2">Id empresaM
                        <input type="text" th:field="*{empresaM}"  id="id2" placeholder="Id empresaM">
                    </label>
                    <label for="mon">Monto
                        <input type="text" id="mon" th:field="*{monto}"  placeholder="Monto">
                    </label>

                    <label for="con">Concepto
                        <input type="text" id="con" th:field="*{concepto}"  placeholder="Concepto">
                    </label>
    
                    <input class="boton" type="submit" value="Ingresar">
                </form>
            </fieldset>
                
        </main>
    

</body>
</html>