<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/reset.css}">
    <link rel="stylesheet" th:href="@{css/stylessnuevaempresa.css}">
    <title>Sistema de gestión de Ingresos y Gastos</title>
</head>
<body>
   
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div> 
        <div class="line"></div> 
    </div> 
        <h1 class="titulo">Sistema de Gestión de Ingresos y Gastos</h1>
        <h1 class="subtitulo">Empresas</h1>
        <header class="contheader">
           
            <div class="logo"></div>
            <input class="ingresosyegresos" type="submit" value="Ingresos y Egresos">
            <input class="usuarios" type="submit" value="Usuarios">
            <input class="empresas" type="submit" value="Empresas">
            
        
    </header>
    
            <main class="main">


                
                <fieldset class="fi">
                    <legend>Nueva Empresa</legend>
                    <form th:action="@{/empresas/guardar}" th:object="${empresainsertar}" method="POST" >
                        <label for="id">idEmpleado
                            <input type="text" id="id" th:field="*{idEmp}" placeholder="idEmp">
                        </label>
                
                        <label for="ni">nit empresa
                            <input type="text" id="ni" th:field="*{nit}" placeholder="nit">
                        </label>

                        <label for="Nemp">nombre Empresa
                            <input type="text" id="Nemp" th:field="*{nombreEmpresa}" placeholder="nombreEmpresa">
                        </label>
                        <label for="dir">direccion
                            <input type="text" id="dir" th:field="*{direccion}" placeholder="direccion">
                        </label>
                        <label for="tel">telefono
                            <input type="number" id="tel" th:field="*{telefono}" placeholder="telefono">
                        </label>

                        <input type="submit" value="Registrar Empresa" class="boton">
                    </form>
                </fieldset>
                
            </main>
        

</body>
</html>