<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/reset.css}">
    <link rel="stylesheet" th:href="@{css/stylesssistemaGestionAll.css}"}>
    <title>Sistema de Gestion</title>
</head>
<body>
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
        <header class="contheader">

            <div class="logo"></div>
            <a th:href="@{'movimientoDinero/ingygas'}"><input class="ingresosyegresos" type="submit" value="Ingresos y Egresos" title="clic para entrar"></a>
            <input class="usuarios" type="submit" value="Usuarios" title="clic para entrar">
            <input class="empresas" type="submit" value="Empresas" title="clic para entrar">
            
        </header>

        <main class="main">
            <a th:href="@{'movimientoDinero/ingygas'}"><button class="sisgestiondeingygas">Sistema de <br/>Gestión de Ingresos<br/> y Gastos</button></a>
            <button class="sisgestiondeusuario">Sistema de <br/>Gestión de <br/>Usuarios</button>
            <button class="sisgestiondeempresas">Sistema de <br/>Gestión de <br/>Empresas</button>
        </main>

    
</body>
</html>