<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/styless.css}">
    <link rel="stylesheet" th:href="@{/css/stylestable.css}">
    <title>Moviminetos Dinero</title>
</head>

<body>
    <table >
        <thead  class="tittab">
            <tr>
                <th>idMovimiento</th>
                <th>monto</th>
                <th>concepto</th>
                <th>idEmpleado</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="i:${transaccioness}">
                <td th:text="${i.idMovimiento}"></td>
                <td th:text="${i.monto}"></td>
                <td th:text="${i.concepto}"></td>
                <td th:text="${i.idEmpleado}"></td>
            </tr>

        </tbody>

    </table>
</body>

</html>